.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.error__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-dark);
}

.error__description {
  margin-bottom: 70px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-dark);
}
