.error-message {
    display: none;
    padding-top: 7px;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: var(--color-red);
}

.error-message--active {
    display: inline-block;
}

.error-message--profile {
    position: absolute;
    right: -20px;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--color-red);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
}

.error-message--profile.error-message--active {
    display: flex;
}
