.form {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    padding: 70px 30px 30px 30px;
    margin: auto;
    box-shadow: var(--shadow);
    border-radius: 12px;
}

.form--signin {
    min-height: 460px;
}

.form--signup {
    min-height: 730px;
}

.form__title {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.form__row {
    margin-bottom: 16px;
}
