.menu {
    display: none;
    position: absolute;
    padding: 7px;
    width: 220px;
    box-shadow: var(--shadow);
    background: var(--color-white);
    z-index: 1;
    border-radius: 6px;
}

.menu::before {
    position: absolute;
    content: "";
    width: 130%;
    height: 40px;
    left: 0;
    background: transparent;
}

.menu.menu--top::before {
    bottom: -26px;
}

.menu.menu--bottom::before {
    top: -35px;
}

.menu:hover {
    display: block;
}

.menu--top {
    top: auto;
    bottom: calc(100% + 24px);
}

.menu--bottom {
    bottom: auto;
    top: calc(100% + 24px);
}

.menu--left {
    left: -10px;
}

.menu--right {
    right: 0;
}

.menu__item:not(:last-of-type) {
}

.menu__button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    border: none;
    cursor: pointer;
    background: transparent;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    border-radius: 4px;
}

.menu__button:hover {
    background: var(--color-blue-2);
}

.menu__button span {
    padding-left: 12px;
    text-align: left;
}

.menu__list {
    display: flex;
    flex-direction: column;
}

//

.menu--emoji {
    width: 384px;
    padding: 8px;

    .menu__list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu__item {
        margin-bottom: 0;
    }

    .menu__button {
        font-size: 18px;
        line-height: 18px;
    }

}
