.profile {
    display: flex;
}

.profile__back-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    border-left: 1px solid var(--color-gray-3);
    background: var(--color-gray-4);
    transform: rotate(180deg);
}

.profile__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
}

.profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
}

.profile__form-title {
    margin: 20px 0 100px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--color-dark);
}

.profile__form-rows {
    width: 100%;
    margin-bottom: 50px;
}

.profile__form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;

    > div {
        width: 100%;
    }
}

.profile__form-row:not(:first-of-type) {
    border-top: 1px solid var(--color-gray-2);
}

.profile__form-row.profile__form-row--borderless {
    border: none;
}

.profile__form-row--hidden {
    display: none;
}

.profile__form input {
    flex-grow: 1;
    padding-left: 16px;
    border: none;
    background: transparent;
    text-align: end;
    outline: none;
}

.profile__form label {
    text-align: start;
}

.profile__form input#avatar {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
