.text-field__inner {
  position: relative;
}

.text-field label {
  position: absolute;
  left: 0;
  right: auto;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: var(--color-gray-1);
  transition: all 250ms;
}

.text-field input {
  color: var(--color-dark);
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  padding: 7px 0;
  width: 100%;
  outline: none;
  background: transparent;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label,
.text-field__label.text-field__label--top {
  transform: translateY(-20px);
  font-size: 9px;
  line-height: 9px;
}

.text-field--regular input {
  border: none;
  border-bottom: 1px solid var(--color-blue-1);
}

.text-field--error input[type=password] {
  color: var(--color-red);
}
