:root {
    --color-blue-1: #3369f3;
    --color-blue-2: #e4edfd;
    --color-dark: #1e1e1e;
    --color-white: #ffffff;
    --color-gray-1: #999999;
    --color-gray-2: #efefef;
    --color-gray-3: #eaeaea;
    --color-gray-4: #fbfbfb;
    --color-gray-5: #f8f8f8;
    --color-gray-6: #e2e2e2;
    --color-red: #FF2F2F;
    --color-green: #4BB543;
    --shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

/*common classes and helpers*/

.container {
    display: flex;
    flex-direction: column;
}

.link {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    color: var(--color-blue-1);
}

.min-vh-100 {
    min-height: 100vh;
}

.vh-100 {
    height: 100vh;
}

.min-vw-100 {
    min-width: 100vw;
}

.vw-100 {
    width: 100vw;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.ma-auto {
    margin: auto !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.p-relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none !important;
}

.justify-between {
    justify-content: space-between;
}

.overflow-hidden {
    overflow: hidden;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.color-blue {
    color: var(--color-blue-1) !important;
}

.color-red {
    color: var(--color-red) !important;
}
