.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: var(--color-gray-2);
}

.avatar--sm {
    width: 34px;
    height: 34px;
}

.avatar__wrapper {
    overflow: hidden;
}

.avatar__stub {
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    color: var(--color-dark);
    text-transform: uppercase;
}
