<div class="message__body">
  {{#if content}}
    <p class="message__text">
      {{{ content }}}
    </p>
  {{/if}}
  {{#if img}}
    <img class="responsive-img" src="{{ img }}" alt="#">
  {{/if}}
  <div class="message__time">
    <time>{{ time }}</time>
  </div>
</div>

